@font-face {
    font-family: Montserrat;
    src: url('../../../src/resources/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('../../../src/resources/fonts/Montserrat-Bold.ttf');
}


.anchorPane-main{
    -fx-background-color: #EDDFF4;
}

#mainPane, .borderPane-main, .convoWindowRoot, .scrollPane-contacts, .vbox-contacts, .grid-contacts, .vbox-conversations, .scrollPane-conversations, .vboxScrollPane-conversations, .vbox-newsfeed, .scrollPane-newsfeed, .vboxScrollPane-newsfeed, .vbox-newGroup, .scrollPane-newGroup, .grid-newGroup, .vbox-editProfile, .hbox-editProfile, .primaryBg{
    -fx-background-color: #ffffff;
}

.main-tab-button, .status-select{
    -fx-background-color: #ffffff;
    -fx-text-fill: #252525;
    -fx-text-base-color:#252525;
}

.vbox-newsfeedTile, .hbox-newsfeedTile, .info-newsfeedTile{
    -fx-background-color:#fafafa;
}

.tab-title, .body-newsfeedTile{
    -fx-fill:#252525;
    -fx-font-family:Montserrat;
    -fx-font-weight:bold;
}

.inputField{
    -fx-background-color: #0bba86, white, white;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-text-fill:#252525;
    -fx-text-inner-color:#252525;
}

.inputField:focused{
    -fx-background-color: #0bba86, #fafafa, #fafafa ;
}

.inputField .content {
    -fx-background-color: white ;
}
.tileTitle{
    -fx-text-fill: #252525;
    -fx-font-family:Montserrat;
    -fx-font-size:20;
}
.basicText{
    -fx-text-fill: #252525;
    -fx-font-family:Montserrat;
}

.basicText2{
    -fx-text-fill: #252525;
}

.anchorPane-main{
 -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #D5ACA9, #EBCFB2);

}

.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #0bba86;
}


.scroll-bar:vertical .track{
    -fx-background-color : #fbfbfb;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :1.0em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color :#0bba86;
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 1.0em;
}
 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 4.0 0.0 0.0;

}
.lightBtn{
    -fx-background-color :#0bba86;
        -fx-text-fill: #ffffff;
}
.darkBtn{
    -fx-background-color : #fbfbfb;
}