.anchorPane-main{
    -fx-background-color: #EDDFF4;
}

.borderPane-main, .scrollPane-contacts, .vbox-contacts, .grid-contacts, .vbox-conversations, .scrollPane-conversations, .vboxScrollPane-conversations, .vbox-newsfeed, .scrollPane-newsfeed, .vboxScrollPane-newsfeed, .vbox-newGroup, .scrollPane-newGroup, .grid-newGroup, .vbox-editProfile, .hbox-editProfile, .primaryBg{
    -fx-background-color: #252525;
}

.main-tab-button, .status-select{
    -fx-background-color: #252525;
    -fx-text-fill: #ffffff;
    -fx-text-base-color:#ffffff;
}

.vbox-newsfeedTile, .hbox-newsfeedTile, .info-newsfeedTile {
    -fx-background-color:#353535;
}

.tab-title, .body-newsfeedTile{
    -fx-fill:#ffffff;
}

.inputField{
    -fx-control-inner-background:#454545;
    -fx-text-fill:#ffffff;
    -fx-text-inner-color:#ffffff;
}

.basicText{
    -fx-text-fill: #ffffff;
}

.basicText2{
    -fx-text-fill: #e1e1e1;
}

.primaryBtn{
    -fx-background-color:#8275e6;
    -fx-text-fill:#ffffff;
    -fx-padding: 4 8 4 8;
}

.gradient{
 -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #D5ACA9, #EBCFB2);
}

.anchorPane-main{
 -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #D5ACA9, #EBCFB2);

}
.lightBtn{
  -fx-background-color: #ffffff;
}
.darkBtn{
  -fx-background-color: #8275e6;
}