.loginInputField{
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-color: #0bba86 , white , white;
    -fx-text-fill:green;
    -fx-text-inner-color:green;
}
.loginBtn{
    -fx-background-color: #0bba86;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}